@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

input[type="checkbox"]:focus {
  outline: none !important;
}
